*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 89%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 500px;
  height: 380px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.image {
  background: url('images/image-product-desktop.jpg') center center no-repeat;
  background-size: cover;
  flex-basis: 50%;
}

.info {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  padding: 20px;
  flex-basis: 50%;
}

.info::before {
  content: 'perfume';
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: hsl(228, 12%, 48%);
}

.info h2 {
  font-family: 'Fraunces', serif;
  font-size: 25px;
}

.info p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: hsl(228, 12%, 48%);
  line-height: 1.6;
}

.price {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.price span:first-child {
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-family: 'Fraunces', serif;
  margin-right: 20px;
}

.price span:last-child {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-size: 12px;
}

svg {
  margin-right: 10px;
}

.link {
  display: flex;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 55px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: poitner;
  transition: 0.3s;
}

.link:hover {
  background-color: hsl(158, 36%, 30%);
}

.attribution {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .image {
    background: url('images/image-product-mobile.jpg') center center no-repeat;
    background-size: cover;
  }
}
